.scrollDivLight {
  height: 500px;
  overflow: auto;
}

.deckCard {
  padding: 5px;
  margin: 3px;
  display: block;
  background-color: rgb(47, 47, 47);
  color: white;
  font-weight: bold;
  width: 200px;
  float: left;
}
