@import "./ViewBox/ViewBox.scss";
@import "./NoteBox/NoteBox.scss";

.scrollDivLight {
  height: 500px;
  overflow: auto;
}

.runDisplayBox {
  padding-bottom: 200px;
}

.detailHeader {
  border: 1px solid black;
}

.died {
  background-color: red;
  color: white;
}

.heartkill {
  background-color: black;
  color: white;
}
.victoryPlate {
  background-color: black;
  // color: white;
}

.ending {
  border-radius: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.relicScroll {
  height: 300px;
  width: fit-content;
  border: 1px solid black;
  overflow: auto;
  padding: 10px;
  border-radius: 4px;
}

.relicBox {
  border: 1px solid black;
  width: 300px;
  margin: 10px;
  // width: 120%;
}

.deckCard {
  padding: 5px;
  margin: 3px;
  padding-bottom: 5px;
  display: block;
  background-color: rgb(47, 47, 47);
  color: rgb(255, 255, 255);
  font-weight: bold;
  width: 200px;
  float: left;
  border-radius: 5px;
  text-align: left;
  padding-left: 10px;
}
.deckRelic {
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  display: block;
  border: 2px solid black;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-weight: bold;
  width: 200px;
  height: fit-content;
  float: left;
}
