.App {
  text-align: center;
}

div {
  /* border: 1px dotted red; */
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.titleSpace {
  margin-top: 10px;
  /* font-size: 10px !important; */
  text-align: left;
}

.titleFont {
  font-family: "Aladin", sans-serif;
  /* font-size: larger; */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@font-face {
  font-family: "Aladin";
  /* font-size: 10px; */
  src: url("./fonts/Aladin-Regular.ttf") format("truetype");
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
