.cardType {
  position: relative;
  float: left;
  font-weight: lighter;
  font-size: smaller;
  // padding: 10px;
}

// .deckCard {
//   // height: 50px;
//   background-color: black;
// }
.rare {
  border: 6px $gold solid;
}
.uncommon {
  border: 6px #1ea1ff solid;
}
.common {
  border: 6px lightgray solid;
}
.upgradedTitle {
  color: rgb(0, 255, 0);
}
.quantity {
  float: right;
}

.ironcard {
  background-color: $ironclad !important;
}

.silentcard {
  background-color: $silent;
}

.defectcard {
  background-color: $defect;
}

.watchercard {
  background-color: $watcher;
}

// .defectPic {
//   background-image: url("../../../../images/characters/defect-face.png");
// }
