.cardType {
  position: relative;
  float: left;
  font-weight: lighter;
  font-size: smaller;
  // padding: 10px;
}

.charColor {
  width: 100%;
}
// .deckCard {
//   // height: 50px;
//   background-color: black;
// }
// .custTooltip {
//   color: black;
// }
.rare {
  border: 6px $gold solid;
}
.uncommon {
  border: 6px #1ea1ff solid;
}
.common {
  border: 6px lightgray solid;
}
.upgradedTitle {
  color: rgb(0, 255, 0);
}
.quantity {
  float: right;
}

.redcard {
  background-color: $ironclad;
}
.redcard:hover {
  background-color: $ironcladHover;
}

.greencard {
  background-color: $silent;
}

.bluecard {
  background-color: $defect;
}

.purplecard {
  background-color: $watcher;
}
.greencard:hover {
  background-color: $silentHover;
}

.bluecard:hover {
  background-color: $defectHover;
}

.purplecard:hover {
  background-color: $watcherHover;
}

.colorlesscard {
  background-color: $colorless;
}
.colorlesscard:hover {
  background-color: $colorlessHover;
}

.description {
  display: none;
}
.deckCard {
  height: 75px;
}
.deckCard:hover {
  cursor: pointer;
  // height: fit-content;
  // padding: 10px;
}
// .deckCard:hover .description {
//   display: block;
//   z-index: 999;
//   border-top: 1px solid white;
// }
.costDesc {
}
.costText {
  // border-bottom: 1px solid white;
  margin-bottom: 10px;
  font-weight: lighter;
}
