.runcard {
  /* border: 1px solid black; */
  border-radius: 5px;
  margin-top: 5px;

  padding-top: 10px;
  // padding-bottom: ;
  text-align: left;
}
.victorySparkle {
  height: 5rem;
}
.victory {
  /* border: 4px solid gold; */
  color: $gold;
  font-weight: bold;
}
.charLabel {
  /* border-right: 4px solid white; */
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
}
.dateLabel {
  margin-top: -1rem;
  text-align: center;
  font-size: 0.75rem;
}

.failure {
  color: white;
}

.ironclad {
  /* background-color: rgb(159, 24, 24); */
  background: $ironcladgrad;
}
.ironcladVictory {
  /* background-color: rgb(159, 24, 24); */
  background: linear-gradient(90deg, #9f1818, #ff7979);
}
.silent {
  background: $silentgrad;
}
.defect {
  background: $defectGrad;
}
.watcher {
  background: $watcherGrad;
}
.detailsBtn {
  font-weight: bold;
  border: none;
}
.vicBtn {
  color: rgb(207, 0, 0);
}
.vicBtn:hover {
  color: rgb(207, 0, 0);
  background-color: rgb(250, 206, 206);
}
.vicBtn:active {
  color: rgb(207, 0, 0) !important;
  background-color: rgb(209, 171, 171) !important;
}

.failBtn {
  color: rgb(13, 1, 82);
}

.failBtn:hover {
  color: rgb(13, 1, 82);
  /* color: White; */
  background-color: rgb(189, 189, 241);
}
.failBtn:active {
  color: rgb(13, 1, 82) !important;
  /* color: White; */
  background-color: rgb(146, 146, 191) !important;
}
