.runcard {
  /* border: 1px solid black; */
  border-radius: 5px;
  margin-top: 5px;

  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
}
.victory {
  border: 4px solid gold;
  color: gold;
  font-weight: bold;
}
.charLabel {
  /* border-right: 4px solid white; */
  text-align: center;
  font-size: large;
}
.dateLabel {
  text-align: center;
  font-size: smaller;
}

.failure {
  color: white;
}

.ironclad {
  /* background-color: rgb(159, 24, 24); */
  background: linear-gradient(90deg, #9f1818, #d80101);
}
.silent {
  background: linear-gradient(90deg, #01522f, #04844d);
}
.defect {
  background: linear-gradient(90deg, #3a36aa, #3f39ff);
}
.watcher {
  background: linear-gradient(90deg, #680068, #b303b3);
}
.detailsBtn {
  font-weight: bold;
  border: none;
}
.vicBtn {
  color: rgb(207, 0, 0);
}
.vicBtn:hover {
  color: rgb(207, 0, 0);
  background-color: rgb(250, 206, 206);
}
.vicBtn:active {
  color: rgb(207, 0, 0) !important;
  background-color: rgb(209, 171, 171) !important;
}

.failBtn {
  color: rgb(13, 1, 82);
}

.failBtn:hover {
  color: rgb(13, 1, 82);
  /* color: White; */
  background-color: rgb(189, 189, 241);
}
.failBtn:active {
  color: rgb(13, 1, 82) !important;
  /* color: White; */
  background-color: rgb(146, 146, 191) !important;
}
