$gold: #ffd700;

$ironclad: #9f1818;
$ironcladHover: #c13131;
$ironcladgrad: linear-gradient(90deg, $ironclad, #d80101);

$silent: #01522f;
$silentHover: #0d7749;
$silentgrad: linear-gradient(90deg, $silent, #04844d);

$defect: #3a36aa;
$defectHover: #504bd4;
$defectGrad: linear-gradient(90deg, $defect, #3f39ff);

$watcher: #680068;
$watcherHover: #8d0f8d;
$watcherGrad: linear-gradient(90deg, $watcher, #b303b3);

$colorless: black;
$colorlessHover: rgb(58, 58, 58);

$relic: white;
$relicHover: rgb(220, 221, 209);
